<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form class="form-group">
               <input type="text" name="title" placeholder="Title" [(ngModel)] = "game.title" class="form-control" autofocus>
            </form>

            <form class="form-group">
                <textarea name="description" placeholder="description" [(ngModel)] = "game.description"  rows="2" class="form-control"></textarea>
             </form>

             <form class="form-group">
                <input type="url" name="image" placeholder="image" [(ngModel)] = "game.image" class="form-control" autofocus>
             </form>
             <button class="btn btn-success btn-block" (click)=" edit ? updateGame() : saveNewGame()">
               Save
             </button>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="game.image == '' ? '/assets/noImage.png': game.image" class="card-img-top"> 
        <h3>{{game.id}}. {{game.title == '' ? 'Game Title': game.title}}</h3>
        <p>{{game.description== '' ? 'Write your description' : game.description}}</p>
        <p>{{game.created_at | date: 'yyyy-MM-dd'}}</p>
    </div>
</div>
